html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.home-slider {
  width: 100%;
  margin: 0px;
}
.header-bg{

  background-color: #0d0620;
}
header{
  min-height: 48px;
  z-index: 1000;
}

nav.navbar.fixed-top.navbar-dark.header-bg {
  padding: 15px 23px;
}

section.mt-10 {
  padding: 35px 120px;
}